* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Palette */
:root {
    --wallpaper_high--: #009688;
    --notifications--: #8EDAFC;
    --wallpaper_low--: #D9DBD4;
    --primary--: #EAEAEA;
    --chat_sent: #D5F9BA;
}

body {
    background-color: var(--wallpaper_low--);
}

.wallpaper {
    height: 100vh;
}

.bg-head-app{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #009688
}

.wrapper {
    height: 95vh;
    z-index: 34;
}

.sidebar {
    height: 100%;
    width: 450px;
}

.sidebar_header {
    background-color: var(--primary--);
    height: 70px;
}

.sidebar_notifications {
    background-color: var(--notifications--);
}

.bell_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar_search {
    background-color: var(--primary--);
}

.sidebar_search input {
    width: 80%;
}

.sidebar_contacts {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contacts:hover {
    background-color: var(--primary--);
    cursor: pointer;
}

.chat {
    height: 100%;
    width: 100%;
}

.chat_header {
    background-color: var(--primary--);
    height: 70px;
}

.font_min {
    font-size: 0.8rem;
}

.chat_header .font_name {
    font-size: 0.9rem;
}

.chat_main {
    background-image: url(/starter-pack/img/mine.jpg);
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.chat_main .sent {
    background-color: var(--chat_sent);
}

.chat_main .received {
    background-color: white;
}

.chat_input {
    background-color: var(--primary--);
    height: 70px;
}

.chat_input .input_message {
    height: 40px;
    width: 90%;
}